body {background-color:black;
}

.deletedData{
    color:red;
    font-style:italic;
}
.validatoionError {
    color:red;
    font-weight:bold;
}
h1{
    text-align:center;
   font-size:28px;
   font-weight:bold;
   margin-top: 10px;
   margin-bottom: 10px; 
   color:red;
}
h2{
    text-align:center;
   font-size:16px;
   color:red;
}

h3{
    text-align:center;
   font-size:20px;
   color:red;
}

 
.validation {height:25px;width:250px;color:red; font-weight:bold;text-align:left;}
 
ul { margin:0px; padding:0; list-style:none; }
 
li { margin-left:35px; margin-bottom:20px; padding:0;text-align:center;font-size:18px;color:red;}

 
.cssgridview {
 
background-color: black;
 
border-collapse: collapse;
 
text-align: center;
 
font-family: "Times New Roman";
 
margin-left:auto;
 
margin-right:auto; 
 
} 
 
.cssgridview td { padding:10px; border:solid 1px #FFFFFF;color:white;font-size:16px;border:solid 1px #FFFFFF;}
 
.cssgridview th {padding:10px; color:red;background:black; font-size:20px;border:solid 1px #FFFFFF }

  .cssdetailsview {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color:white;
}


 
table{
       text-align:right; 
       font-family:"Times New Roman";
       font-size:16px;
       margin-left:auto;
       margin-right:auto;

}
 
.footer{background-color:#B8B7B7;
        padding:0px;
        margin:auto;
        width:600px;
        text-align:center; 
        font-size:14px;
        font-family:"Times New Roman";
        color:black;

}
 
.contact{
    text-align:center;

}
 
.formtitle{
           height:30px;width:150px;
           text-align:right;
           font-size:14px;
           font-family:'Times New Roman';
           background-color:#ffff99;
           border:solid 2px #f08080;
           padding:10PX;

}
 
.formcell {
           height:30px;width:220px;
           background-color:#f08080;
           padding:10PX;
           text-align:left;
           color:white;
           font-family:"Times New Roman"

}
 
.cssformview{
             margin-left:auto; 
             margin-right:auto;

}
 

.aboutus{
        text-align:left;
        font-size:18px;
        padding-right:30%;
        padding-left:30%;
        color:white;
}
#main{
    background-color:black;
    color:red;
    padding:10px;
    margin:0 auto;
    border-left:1px solid red;
    border-right:1px solid red;
}

#right_header{
    background-color:black;
    
    margin:0 auto;
    float:inherit;
    padding-left:37%;
    height:200px;
    border-top:1px solid red;
    border-right:1px solid red;
    border-bottom:1px solid red;
    border-left:1px solid red;
}
h4{
    padding-right:50%;
        padding-left:50%;
}
h5{
    font-size:20px;
    color:white;
    
        padding-left:45%;
}

h6{
    font-size:20px;
    color:white;
    
        padding-left:30%;
}
h7{
    font-size:20px;
    color:white;
}